html {
    background: black;
    color: aqua;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    margin: 0px;
    padding: 0px;
  }
  
  input {
    padding: 0.3em;
    margin: 0.5em;
  }
  
  button {
    font-size: 1em;
  }
  
  .header{
    margin-top: -0.2em;
  }
  
  .empty-space{
    margin-top: -1em;
  }
  
  .real-inputs {
    width: 4em;
  }
  
  .button-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .heady {
    color: pink;
  }
  
  .header {
    color: pink;
    font-size: 0.9em;
  }
  
  .inputs {
    font-size: 1em;
  }
  
  .input-lists{
    /* display: none; */
  }
  
  header,
  footer {
    margin: auto;
  }
  
  header {
    display: flex;
    justify-content: center;
  }
  
  footer {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
  }
  
  .thing-show {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-column: 2/3;
    grid-gap: 0.1em;
  }
  
  #notes{
    padding: 3em;
  }
  
  #notes-id {
    grid-column: 1/5;
  }
  
  .id-all {
    font-size: 0.5em;
    padding: 0.3em;
    border: 1px solid white;
    border-radius: 4px;
    justify-self: center;
  
    margin: auto;
    display: none;
  }
  
  .header {
    font-size: 1.3em;
  }
  
  @media only screen and (min-width: 600px) {
    .id-all {
      font-size: 0.8em;
    }
  
    .heady  {
      font-size: 13px;
    }
  
    input{
      font-size: 10px;
    }
  
    footer {
      grid-template-columns: 1fr minmax(100px, 900px) 1fr;
    }
  
    .thing-show {
      grid-template-columns: repeat(4, minmax(100px, 500px));
      grid-column: 2/3;
    }
  
    #notes-id {
      grid-column: 1/4;
    }
  }
  